# Required Inputs
API_ID=
API_HASH=

# Optional Inputs
REF_ID=1178697351
SQUAD_ID=1006503122

# Default = False
TASKS_WITH_JOIN_CHANNEL=

# 915 Max
HOLD_COIN=[585, 915]

# 3000 Max
SWIPE_COIN=[2000, 3000]

USE_RANDOM_DELAY_IN_RUN=True
RANDOM_DELAY_IN_RUN=[0, 15]
FAKE_USERAGENT=True
SLEEP_TIME=[1800, 3600]

# Default = False
USE_PROXY_FROM_FILE=
